@import "./assets/constants.scss";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
  font-family: 'Open Sans', sans-serif;
}
.map_container {
  position: relative;
  margin: 2rem;
  height: 70vh;
  overflow-x: hidden;
  overflow-y: hidden;
  .next_step_container{
    position: absolute;
    margin: 0 0 0 20px;
    bottom: 25px;
    right: 25px;
  }
  .search_container {
    position: absolute;
    margin: 20px 0 0 0;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 30;
    border: none;
    display: flex;
    justify-content: center;

    input {
      width: 80%;
      padding: 0.2rem 0.5rem;
      border: none;
      box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
    }
  }
}
@media (max-width: $lg) {
  .map_container {
    height: 80vh;
    margin: 0;
  }
}
.my_button {
  border: none;
  font-size: 0.9rem;
  background-color: #fff;
  padding: 0.5rem 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
}
.my_button .small_button {
  padding: 0;
}
ul {
  background-color: #fff !important;
  list-style: none;
  padding-left: 0 !important;
  li {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    padding: 0.2rem 0.5rem;
    &:hover {
      background-color: #ccc;
    }
  }
}
.form_parameters{
  margin-top: 10vh;
  .form-group{
    margin: 15px 0;
    select, input{
      border-radius: 0;
    }
  }
}
.results{
  overflow: hidden;
  margin-top: 10vh;
}